#main {
    overflow-x: hidden;
}

#accontForm {
    background-color: rgb(218, 165, 97);
    padding-left: 3%;
    padding: 3%;
    width: 40%;
    margin-left: 29%;
    margin-top: 9%;
    border: 1px solid black;
}

.input {
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 2%;
    width: 50%;
}

#submitBtn {
    background-color: black;
    color: white;
    width: 20%;
    margin-top: 3%;
    border: 1px solid white;
    border-radius: 18px;
}